@import "tailwindcss";

@layer components {
    .mycontainer {
        @apply container px-40 py-15 mx-auto;
    }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

}